<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
    </encoder>
  </appender>

  <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d %5p %m%n</Pattern>
    </encoder>
  </appender>

  <!-- Logger -->
  <logger name="com.project.side" level="DEBUG" appender-ref="console" />
  <logger name="jdbc.sqlonly" level="DEBUG" appender-ref="console"/>
  <logger name="jdbc.sqltiming" level="off" appender-ref="console"/>
  <logger name="jdbc.audit" level="OFF" appender-ref="console"/>
  <logger name="jdbc.resultset" level="OFF" appender-ref="console"/>
  <logger name="jdbc.resultsettable" level="OFF" appender-ref="console"/>
  <logger name="jdbc.connection" level="OFF" appender-ref="console"/>

  <!-- Root Logger -->
  <root level="DEBUG">
    <appender-ref ref="console" />
  </root>
</configuration>
