<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>모여라모여~</title>
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.2.2/dist/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.2.2/ol.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/range.css}">
</head>
<body>

    <div id="map">
        <div id="list-wrapper">
            <button type="button" id="feature-list-btn">△</button>
            <div id="feature-list">
                <ol>

                </ol>
            </div>
        </div>

        <div id="start_modal">
            <div>
                <button th:type="button" onclick="makeRoom();">시작하기</button>
                <button th:type="button">참여하기</button>
            </div>
        </div>
    </div>
    <script th:src="@{/js/common/common.js}" ></script>
    <script th:src="@{/js/moyora/moyo.js}"></script>
</body>
</html>
